{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="Conoce H-escapa, centro psicológico en Cuenca liderado por Hester Palacio y profesionales en salud mental. Atención ética, humana y basada en evidencia científica.">	
    <meta name="author" content="Imashuti">
	<!-- Page Title -->
    <title>H-escapa - Quienes Somos</title>
	<!-- Favicon Icon -->
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
	<!-- Google Fonts Css-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&family=Sora:wght@100..800&display=swap" rel="stylesheet">
	<!-- Bootstrap Css -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
	<!-- SlickNav Css -->
	<link href="{% static 'css/slicknav.min.css' %}" rel="stylesheet">
	<!-- Swiper Css -->
	<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
	<!-- Font Awesome Icon Css-->
	<link href="{% static 'css/all.min.css' %}" rel="stylesheet" media="screen">
	<!-- Animated Css -->
	<link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <!-- Magnific Popup Core Css File -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<!-- Mouse Cursor Css File -->
	<link rel="stylesheet" href="{% static 'css/mousecursor.css' %}">
	<!-- Main Custom Css -->
	<link href="{% static 'css/custom.css' %}" rel="stylesheet" media="screen">
</head>
<body>

    <!-- Preloader Start -->
	<div class="preloader">
		<div class="loading-container">
			<div class="loading"></div>
			<div id="loading-icon"><img src="{% static 'img/loader.svg' %}" alt=""></div>
		</div>
	</div>
	<!-- Preloader End -->

    <!-- Header Start -->
	<header class="main-header">
		<div class="header-sticky">
			<nav class="navbar navbar-expand-lg">
				<div class="container">
					<!-- Logo Start -->
					<a class="navbar-brand" href="{% url 'home' %}">
						<img src="{% static 'img/logo.svg' %}" alt="Logo">
					</a>
					<!-- Logo End -->

					<!-- Main Menu Start -->
					<div class="collapse navbar-collapse main-menu">
                        <div class="nav-menu-wrapper">
                            <ul class="navbar-nav mr-auto" id="menu">
                                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Inicio</a></li> 
                                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">Acerca de</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'services' %}">Servicios</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'bloggeneral' %}">Blog</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contáctanos</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'signin' %}">Inicio de Sesión</a></li>
                                <li class="nav-item highlighted-menu"><a class="nav-link" href="{% url 'agendamiento' %}">Reservar una cita</a></li>                           
                            </ul>
                        </div>
                        <!-- Header Btn Start -->
                        <div class="header-btn d-inline-flex">
                            <a href="{% url 'agendamiento' %}" class="btn-default">Reservar una cita</a>
                        </div>
                        <!-- Header Btn End -->
					</div>
					<!-- Main Menu End -->
					<div class="navbar-toggle"></div>
				</div>
			</nav>
			<div class="responsive-menu"></div>
		</div>
	</header>
	<!-- Header End -->

    <!-- Page Header Start -->
	<div class="page-header parallaxie header-aboutus">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!-- Page Header Box Start -->
					<div class="page-header-box">
						<h1 class="text-anime-style-2" data-cursor="-opaque">¿ Quienes somos?</h1>
						<nav class="wow fadeInUp">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'home' %}">inicio</a></li>
								<li class="breadcrumb-item active" aria-current="page">Acerca de</li>
							</ol>
						</nav>
					</div>
					<!-- Page Header Box End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->

    <!-- About Us Section Start -->
    <!-- About Us Section Start -->
    <div class="about-us">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!-- About Us Images Start -->
                    <div class="about-us-images">
                        <!-- About Image 1 Start -->
                        <div class="about-img-1">
                            <figure class="image-anime">
                                <img src="{% static 'img/about-img-1.jpg' %}" alt="">
                            </figure>
                        </div>
                        <!-- About Image 1 End -->

                        <!-- About Image 2 Start -->
                        <div class="about-img-2">
                            <figure class="image-anime">
                                <img src="{% static 'img/about-img-2.jpg' %}" alt="">
                            </figure>
                        </div>
                        <!-- About Image 2 End -->

                        <!-- About Customer Box Start -->
                        <div class="about-customer-box">
                            <div class="about-customer-rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="about-customer-content1">
                                <p>Pacientes atendidos <span class="counter">2,000</span></p>
                            </div>
                            <div class="customer-images">
                                <div class="customer-img">
                                    <figure class="image-anime reveal">
                                        <img src="{% static 'img/customer-img-1.jpg' %}" alt="">
                                    </figure>
                                </div>                                    
                                <div class="customer-img">
                                    <figure class="image-anime reveal">
                                        <img src="{% static 'img/customer-img-2.jpg' %}" alt="">
                                    </figure>
                                </div>
                                <div class="customer-img">
                                    <figure class="image-anime reveal">
                                        <img src="{% static 'img/customer-img-3.jpg' %}" alt="">
                                    </figure>
                                </div>
                                <div class="customer-img">
                                    <figure class="image-anime reveal">
                                        <img src="{% static 'img/customer-img-4.jpg' %}" alt="">
                                    </figure>
                                </div>
                                <div class="customer-img add-more">
                                    <p><span class="counter">2</span>k+</p>
                                </div>
                            </div>
                        </div>
                        <!-- About Customer Box End -->
                    </div>
                    <!-- About Us Images End -->
                </div>

                <div class="col-lg-6">
                    <!-- About Us Content Start -->
                    <div class="about-us-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">sobre nosotros</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">Acompañando mentes, sanando corazones</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.2s">Te acompañamos en tu proceso de salud mental con un enfoque profesional, humano y basado en la confianza.</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- About Vision Mission Start -->
                        <div class="about-vision-mission">
                            <!-- Vision Mission Content Start -->
                            <div class="vision-mission-content wow fadeInUp" data-wow-delay="0.4s">
                                <h3>Nuestra Visión</h3>
                                <p>Construir una sociedad donde la salud mental sea accesible, libre de estigmas y una prioridad para el bienestar integral de las personas.</p>
                            </div>
                            <!-- Vision Mission Item End -->

                            <!-- Vision Mission Content Start -->
                            <div class="vision-mission-content wow fadeInUp" data-wow-delay="0.4s">
                                <h3>Nuestra Misión</h3>
                                <ul>
                                    <li>Brindar atención profesional y empática</li>
                                    <li>Promover el bienestar emocional</li>
                                    <li>Fomentar procesos de sanación continua</li>
                                </ul>
                            </div>
                            <!-- Vision Mission Content End -->
                        </div>
                        <!-- About Vision Mission End -->

                        <!-- About Us Content Button Start -->
                        <div class="about-us-content-btn wow fadeInUp" data-wow-delay="0.6s">
                            <a href="{% url 'about' %}" class="btn-default">Conoce más</a>
                            <a href="{% url 'contact' %}" class="btn-default btn-highlighted">Contáctanos</a>
                        </div>
                        <!-- About Us Content Button End -->
                    </div>
                    <!-- About Us Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- About Us Section End -->

    <!-- Our Approach Section Start -->
    <div class="our-approach">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!-- Our Approach Content Start -->
                    <div class="our-approach-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">nuestro enfoque</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">Acompañamiento integral para tu bienestar emocional</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.2s">Brindamos atención personalizada y empática para fortalecer tu bienestar emocional y acompañarte en tu proceso de crecimiento personal.</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- Our Approach List Start -->
                        <div class="our-approach-list">
                            <!-- Our Approach Item Start -->
                            <div class="our-approach-item wow fadeInUp">
                                <div class="approach-item-content">
                                    <h3>Atención personalizada</h3>
                                    <p>Cada sesión se adapta a tus necesidades, desafíos y objetivos personales.</p>
                                </div>
                            </div>
                            <!-- Our Approach Item End -->

                            <!-- Our Approach Item Start -->
                            <div class="our-approach-item wow fadeInUp" data-wow-delay="0.2s">
                                <div class="approach-item-content">
                                    <h3>Espacio seguro y de confianza</h3>
                                    <p>Creamos un entorno respetuoso, confidencial y libre de juicios donde puedas expresarte con tranquilidad.</p>
                                </div>
                            </div>
                            <!-- Our Approach Item End -->

                            <!-- Our Approach Item Start -->
                            <div class="our-approach-item wow fadeInUp" data-wow-delay="0.4s">
                                <div class="approach-item-content">
                                    <h3>Empoderamiento y crecimiento</h3>
                                    <p>Te brindamos herramientas para afrontar desafíos y fortalecer tu bienestar emocional.</p>
                                </div>
                            </div>
                            <!-- Our Approach Item End -->
                        </div>
                        <!-- Our Approach List End -->
                    </div>
                    <!-- Our Approach Content End -->
                </div>

                <div class="col-lg-6">
                    <!-- Our Approach Image Start -->
                    <div class="our-approach-image">
                        <div class="our-approach-img-1">
                            <figure class="image-anime reveal">
                                <img src="{% static 'img/our-apporach-img-1.jpg' %}" alt="">
                            </figure>
                        </div>
                        <div class="our-approach-img-2">
                            <figure class="image-anime reveal">
                                <img src="{% static 'img/our-apporach-img-2.jpg' %}" alt="">
                            </figure>
                        </div>
                    </div>
                    <!-- Our Approach Image End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Approach Section End -->

    <!-- Our Team Start -->
     <div class="our-team">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <!-- Our Team Content Start -->
                    <div class="our-team-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">Nuestra especialista</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">Acompañándote en tu proceso terapéutico</h2>
                        </div>
                        <!-- Section Title End -->

                        <!-- Mental Therapy Counter Start -->
                        <div class="mental-therapy-counter">
                            <div class="mental-therapy-header">
                                <div class="icon-box">
                                    <img src="{% static 'img/icon-mental-therapy-counter.svg' %}" alt="">
                                </div>
                                <h2><span class="counter">500</span>+</h2>
                            </div>

                            <div class="mental-therapy-body">
                                <p>procesos terapéuticos acompañados</p>
                            </div>
                        </div>
                        <!-- Mental Therapy Counter End -->
                    </div>
                    <!-- Our Team Content End -->
                </div>

                <div class="col-lg-8">
                    <!-- Team Member List Start -->
                    <div class="team-member-list">
                        <!-- Team Member Item Start -->
                        <div class="team-member-item wow fadeInUp">
                            <!-- Team Image Start -->
                            <div class="team-image">
                                <a href="{% url 'teamhp' %}" data-cursor-text="Ver más">
                                    <figure class="image-anime">
                                        <img src="{% static 'img/team-1.jpg' %}" alt="">
                                    </figure>
                                </a>
                            </div>
                            <!-- Team Image End -->

                            <!-- Team Body Start -->
                            <div class="team-body">
                                <!-- Team Content Start -->
                                <div class="team-content">
                                    <h3><a href="{% url 'teamhp' %}">Hester Palacio S.</a></h3>
                                    <p>Psicóloga Clínica</p>
                                </div>
                                <!-- Team Content End -->

                                <!-- Team Social Icon Start -->
                                <div class="team-social-icon">
                                    <ul>
                                        <li><a href="https://www.facebook.com/hesterpalacio.psic.cli"><i class="fa-brands fa-facebook-f"></i></a></li>
                                        <li><a href="https://www.instagram.com/ps.cl.hester_palacio"><i class="fa-brands fa-instagram"></i></a></li>
                                        <li><a href="https://www.tiktok.com/@psc_hester_palacio"><i class="fa-brands fa-tiktok"></i></a></li>
                                    </ul>
                                </div>
                                <!-- Team Social Icon End -->

                            </div>
                            <!-- Team Body End -->
                        </div>
                        <!-- Team Member Item End -->
                    </div>
                    <!-- Team Member List End -->
                </div>
            </div>
        </div>
     </div>
    <!-- Our Team End -->

    <!-- Our Benefit Start -->
     <div class="our-benefit">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="our-benefit-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">Nuestros beneficios</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">Cuidado transformador para una vida plena</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.2s">Recibe apoyo psicológico personalizado que promueve tu crecimiento personal y fortalece tu bienestar emocional.</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- Our Benefit Button Start -->
                        <div class="our-benefit-btn wow fadeInUp" data-wow-delay="0.4s">
                            <a href="{% url 'contact' %}" class="btn-default">Agenda tu cita</a>
                        </div>
                        <!-- Our Benefit Button End -->

                        <!-- Our Benefit Image Start -->
                        <div class="our-benefit-img">
                            <figure class="image-anime reveal">
                                <img src="{% static 'img/our-benefit-img.jpg' %}" alt="">
                            </figure>
                        </div>
                        <!-- Our Benefit Image End -->
                    </div>
                </div>

                <div class="col-lg-6">
                    <!-- Our Benefit Box Start -->
                    <div class="our-benefit-box">
                        <!-- Benefit Box List Start -->
                        <div class="benefit-box-list">
                            <!-- Our Benefit Item Start -->
                            <div class="our-benefit-item wow fadeInUp">
                                <div class="icon-box">
                                    <img src="{% static 'img/icon-our-benefits-1.svg' %}" alt="">
                                </div>
                                <div class="benefit-item-content">
                                    <h3>Mejor bienestar emocional</h3>
                                    <p>La terapia te ayuda a gestionar el estrés y la ansiedad, fortaleciendo tu equilibrio emocional.</p>
                                </div>
                            </div>
                            <!-- Our Benefit Item End -->

                            <!-- Our Benefit Item Start -->
                            <div class="our-benefit-item wow fadeInUp" data-wow-delay="0.2s">
                                <div class="icon-box">
                                    <img src="{% static 'img/icon-our-benefits-2.svg' %}" alt="">
                                </div>
                                <div class="benefit-item-content">
                                    <h3>Mejores herramientas para afrontar dificultades</h3>
                                    <p>Desarrolla estrategias efectivas para manejar situaciones desafiantes con mayor confianza.</p>
                                </div>
                            </div>
                            <!-- Our Benefit Item End -->

                            <!-- Our Benefit Item Start -->
                            <div class="our-benefit-item wow fadeInUp" data-wow-delay="0.4s">
                                <div class="icon-box">
                                    <img src="{% static 'img/icon-our-benefits-3.svg' %}" alt="">
                                </div>
                                <div class="benefit-item-content">
                                    <h3>Mayor autoconocimiento</h3>
                                    <p>Comprende tus emociones, pensamientos y patrones para crecer de forma consciente.</p>
                                </div>
                            </div>
                            <!-- Our Benefit Item End -->

                            <!-- Our Benefit Item Start -->
                            <div class="our-benefit-item wow fadeInUp" data-wow-delay="0.6s">
                                <div class="icon-box">
                                    <img src="{% static 'img/icon-our-benefits-4.svg' %}" alt="">
                                </div>
                                <div class="benefit-item-content">
                                    <h3>Relaciones más saludables</h3>
                                    <p>Mejora tu comunicación y fortalece tus vínculos personales y familiares.</p>
                                </div>
                            </div>
                            <!-- Our Benefit Item End -->
                        </div>
                        <!-- Benefit Box List End -->

                        <!-- Our Benefit List Start -->
                        <div class="our-benefit-list wow fadeInUp" data-wow-delay="0.8s">
                            <ul>
                                <li>Apoyo en etapas de cambio</li>
                                <li>Fortalecimiento de la autoestima</li>
                                <li>Reducción del estrés y la ansiedad</li>
                                <li>Mayor satisfacción personal</li>
                            </ul>
                        </div>
                        <!-- Our Benefit List End -->
                    </div>
                    <!-- Our Benefit Box End -->
                </div>
            </div>
        </div>
     </div>
    <!-- Our Benefit End -->

    <!-- CTA Section Start -->
    <div class="cta-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- CTA Box Start -->
                    <div class="cta-box">
                        <!-- CTA Box Image Start -->
                        <div class="cta-box-image">
                            <img src="{% static 'img/cta-img.png' %}" alt="">
                        </div>
                        <!-- CTA Box Image End -->

                        <!-- CTA Box Content Start -->
                        <div class="cta-box-content">
                            <div class="section-title">
                                <h3 class="wow fadeInUp">comienza hoy</h3>
                                <h2 class="text-anime-style-2" data-cursor="-opaque">Da el primer paso hoy</h2>
                                <p class="wow fadeInUp" data-wow-delay="0.2s">Agenda tu sesión y comienza tu proceso de bienestar.</p>
                            </div>
    
                            <div class="cta-box-btn wow fadeInUp">
                                <a href="{% url 'agendamiento' %}" class="btn-default1">Agenda tu Cita</a>
                            </div>
                        </div>
                        <!-- CTA Box Content End -->                        
                    </div>
                    <!-- CTA Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- CTA Section End -->

    <!-- Footer CTA Box Start -->
    <div class="footer-cta-box">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!-- Footer CTa Content Start -->
                    <div class="footer-cta-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h2 class="text-anime-style-2" data-cursor="-opaque">Te acompañamos cuando decidas comenzar</h2>
                        </div>
                        <!-- Section Title End -->
                    </div>
                    <!-- Footer CTa Content End -->                  
                </div>

                <div class="col-lg-6">
                    <!-- Footer CTA Button Start -->
                    <div class="footer-cta-btn wow fadeInUp">
                        <a href="https://wa.me/593992840994?text=Quiero%20sabes%20m%C3%A1s%20de%20H-escapa" class="btn-default btn-phone"><i class="fa-brands fa-whatsapp"></i> +593 992 840 994</a>
                        <a href="mailto:info@h-escapa.com" class="btn-defaultfooter btn-comment"><i class="fa-solid fa-envelope"></i> info@h-escapa.com</a>
                    </div>
                    <!-- Footer CTA Button End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Footer CTA Box End -->

    <!-- Footer Start -->
    <footer class="main-footer">
        <div class="container">
            <div class="row">                
                <div class="col-lg-12">
                    <!-- Footer Logo Start -->
                    <div class="footer-logo">
                        <img src="{% static 'img/footer-logo.svg' %}" alt="">
                    </div>
                    <!-- Footer Logo End -->                    
                </div>

                <div class="col-lg-8">
                    <!-- About Footer Start -->
                    <div class="about-footer">
                        <div class="section-title">
                            <h2 class="text-anime-style-2" data-cursor="-opaque">Estamos aquí cuando estés listo/a</h2>
                        </div>

                        <!-- Footer Contact Box Start -->
                        <div class="footer-contact-box">
                            <!-- Footer Contact Item Start -->
                            <div class="footer-contact-item">
                                <p>Número Celular</p>
                                <h3>0992840994</h3>
                            </div>
                            <!-- Footer Contact Item End -->

                            <!-- Footer Contact Item Start -->
                            <div class="footer-contact-item">
                                <p>Email</p>
                                <h3>info@h-escapa.com</h3>
                            </div>
                            <!-- Footer Contact Item End -->

                            <!-- Footer Contact Item Start -->
                            <div class="footer-contact-item">
                                <p>Dirección</p>
                                <h3>Francisco Moscoso 5-39 y Av 10 de Agosto</h3>
                            </div>
                            <!-- Footer Contact Item End -->
                        </div>
                        <!-- Footer Contact Box End -->
                    </div>
                    <!-- About Footer End -->
                </div>

                <div class="col-lg-4">
                    <!-- Footer Social Link Start -->
                    <div class="footer-social-links">
                        <h3>Síguenos en redes sociales</h3>
                        <p>Encuentra recursos, consejos y contenido sobre bienestar emocional.</p>
                        <ul>
                            <li><a href="https://www.facebook.com/hesterpalacio.psic.cli"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="https://www.instagram.com/ps.cl.hester_palacio/"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="https://www.tiktok.com/@psc_hester_palacio"><i class="fa-brands fa-tiktok"></i></a></li>
                        </ul>
                    </div>
                    <!-- Footer Social Link End -->
                </div>
            </div>

            <!-- Footer Copyright Section Start -->
            <div class="footer-copyright">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <!-- Footer Menu Start -->
                        <div class="footer-menu">
                            <ul>                            
                                <li><a href="{% url 'home' %}">Inicio</a></li>
                                <li><a href="{% url 'about' %}">Acerca de</a></li>
                                <li><a href="{% url 'services' %}">Servicios</a></li>
                                <li><a href="{% url 'bloggeneral' %}">Blog</a></li>
                                <li><a href="{% url 'contact' %}">Contáctanos</a></li>
                            </ul>
                        </div>
                        <!-- Footer Menu End -->
                    </div>

                    <div class="col-md-6">
                        <!-- Footer Copyright Start -->
                        <div class="footer-copyright-text">
                            <p>Imashuti © 2026 Todos los derechos reservados.</p>
                        </div>
                        <!-- Footer Copyright End -->
                    </div>
                </div>
            </div>
            <!-- Footer Copyright Section End -->
        </div>
     </footer>
    <!-- Footer End -->

<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/validator.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.js' %}"></script>
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/SmoothScroll.js' %}"></script>
<script src="{% static 'js/parallaxie.js' %}"></script>
<script src="{% static 'js/gsap.min.js' %}"></script>
<script src="{% static 'js/magiccursor.js' %}"></script>
<script src="{% static 'js/SplitText.js' %}"></script>
<script src="{% static 'js/ScrollTrigger.min.js' %}"></script>
<script src="{% static 'js/jquery.mb.YTPlayer.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/function.js' %}"></script>
</body>
</html>