<!DOCTYPE html>
<html lang="zxx">
<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<meta name="author" content="Imashuti">
	<!-- Page Title -->
    <title>H-escapa - Menu Principal</title>
	<!-- Favicon Icon -->
	<link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.png">
	<!-- Google Fonts Css-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&family=Sora:wght@100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
	<!-- Bootstrap Css -->
	<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<!-- SlickNav Css -->
	<link href="static/css/slicknav.min.css" rel="stylesheet">
	<!-- Swiper Css -->
	<link rel="stylesheet" href="static/css/swiper-bundle.min.css">
	<!-- Font Awesome Icon Css-->
	<link href="static/css/all.min.css" rel="stylesheet" media="screen">
	<!-- Animated Css -->
	<link href="static/css/animate.css" rel="stylesheet">
    <!-- Magnific Popup Core Css File -->
	<link rel="stylesheet" href="static/css/magnific-popup.css">
	<!-- Mouse Cursor Css File -->
	<link rel="stylesheet" href="static/css/mousecursor.css">
	<!-- Main Custom Css -->
    <link rel="stylesheet" href="static/css/styles-frmmenprinci.css">
	<link href="static/css/custom.css" rel="stylesheet" media="screen">
</head>
<body>

    <!-- Preloader Start -->
	<div class="preloader">
		<div class="loading-container">
			<div class="loading"></div>
			<div id="loading-icon"><img src="static/img/loader.svg" alt=""></div>
		</div>
	</div>
	<!-- Preloader End -->

    <!--========== HEADER ==========-->
    <header class="header">
        <div class="header__container">
            <div class="header__toggle">
                <i class='bx bx-menu' id="header-toggle"></i>
            </div>
        </div>
    </header>

    <!--========== NAV ==========-->
    <div class="nav" id="navbar">
        <nav class="nav__container">
            <div>
                <a class="nav__link nav__logo">
                    <img src="static/img/favicon.png" alt="H-escapa" class="nav__logo-img logo-default">
                    <img src="static/img/logo.svg" alt="H-escapa" class="nav__logo-img logo-hover">
                </a>

                <div class="nav__list">
                    <div class="nav__items">
                        <h3 class="nav__subtitle">Consultorio</h3>

                        <a href="home" class="nav__link active">
                            <i class='bx bx-home nav__icon' ></i>
                            <span class="nav__name">Inicio</span>
                        </a>
                        <a href="calendario" class="nav__link">
                            <i class='bx bx-calendar nav__icon' ></i>
                            <span class="nav__name">Calendario</span>
                        </a>                        
                        <div class="nav__dropdown">
                            <a href="#" class="nav__link">
                                <i class='bx bx-user nav__icon' ></i>
                                <span class="nav__name">Pacientes</span>
                                <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                            </a>

                            <div class="nav__dropdown-collapse">
                                <div class="nav__dropdown-content">
                                    <a href="#" class="nav__dropdown-item">General</a>
                                    <a href="#" class="nav__dropdown-item">Pacientes</a>
                                    <a href="#" class="nav__dropdown-item">Certificados</a>
                                    <a href="#" class="nav__dropdown-item">Video-consulta</a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="nav__link">
                            <i class='bx bx-calendar-event nav__icon' ></i>
                            <span class="nav__name">Agendar Cita</span>
                        </a>

                    </div>

                    <div class="nav__items">
                        <h3 class="nav__subtitle">Tests</h3>

                        <div class="nav__dropdown">
                            <a href="#" class="nav__link">
                                <i class='bx bx-file nav__icon' ></i>
                                <span class="nav__name">Generar</span>
                                <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                            </a>

                            <div class="nav__dropdown-collapse">
                                <div class="nav__dropdown-content">
                                    <a href="#" class="nav__dropdown-item">Test1</a>
                                    <a href="#" class="nav__dropdown-item">Test2</a>
                                    <a href="#" class="nav__dropdown-item">Test3</a>
                                    <a href="#" class="nav__dropdown-item">Test4</a>
                                </div>
                            </div>

                        </div>

                        <a href="#" class="nav__link">
                            <i class='bx bx-history nav__icon' ></i>
                            <span class="nav__name">Historial</span>
                        </a>
                    </div>

                    <div class="nav__items">
                        <h3 class="nav__subtitle">Blog</h3>

                        <a href="#" class="nav__link">
                            <i class='bx bx-edit-alt nav__icon' ></i>
                            <span class="nav__name">Nuevo Post</span>
                        </a>
                        <a href="#" class="nav__link">
                            <i class='bx bx-grid-alt nav__icon' ></i>
                            <span class="nav__name">Revisar Posts</span>
                        </a>
                    </div>
                </div>
            </div>

            <a href="#" class="nav__link nav__logout">
                <i class='bx bx-log-out nav__icon' ></i>
                <span class="nav__name">Salir</span>
            </a>
        </nav>
    </div>

        <main class="main-content">
            <div class="home">
                <div class="dashboard-home" id="home">

                    <!-- ===== KPI CARDS ===== -->
                    <div class="kpi-grid">

                        <div class="kpi-card">
                            <i class='bx bx-calendar-check'></i>
                            <div>
                                <h3>5</h3>
                                <p>Citas hoy</p>
                            </div>
                        </div>

                        <div class="kpi-card">
                            <i class='bx bx-user'></i>
                            <div>
                                <h3>42</h3>
                                <p>Pacientes activos</p>
                            </div>
                        </div>

                        <div class="kpi-card">
                            <i class='bx bx-file'></i>
                            <div>
                                <h3>3</h3>
                                <p>Tests pendientes</p>
                            </div>
                        </div>

                        <div class="kpi-card">
                            <i class='bx bx-edit-alt'></i>
                            <div>
                                <h3>8</h3>
                                <p>Posts publicados</p>
                            </div>
                        </div>

                    </div>


                    <!-- ===== MAIN CONTENT GRID ===== -->
                    <div class="dashboard-grid">

                        <!-- Agenda -->
                        <div class="dashboard-card">
                            <h4>Agenda de Hoy</h4>
                            <ul class="agenda-list">
                                <li>08:00 - María López - Confirmada</li>
                                <li>10:00 - Juan Pérez - Pendiente</li>
                                <li>14:00 - Ana Torres - Online</li>
                            </ul>
                        </div>

                        <!-- Actividad -->
                        <div class="dashboard-card">
                            <h4>Actividad Reciente</h4>
                            <ul class="activity-list">
                                <li>Nuevo paciente registrado</li>
                                <li>Test1 generado</li>
                                <li>Post “Mindfulness” publicado</li>
                            </ul>
                        </div>

                    </div>

                </div>
                <div class="dashboard-agenda" id="calendario">
                    <div class="esapciotrabajo">

                    </div>

                </div>
            </div>

        </main>


    <!-- Jquery Library File -->
    <script src="static/js/jquery-3.7.1.min.js"></script>
    <!-- Bootstrap js file -->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- Validator js file -->
    <script src="static/js/validator.min.js"></script>
    <!-- SlickNav js file -->
    <script src="static/js/jquery.slicknav.js"></script>
    <!-- Swiper js file -->
    <script src="static/js/swiper-bundle.min.js"></script>
    <!-- Counter js file -->
    <script src="static/js/jquery.waypoints.min.js"></script>
    <script src="static/js/jquery.counterup.min.js"></script>
    <!-- Magnific js file -->
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <!-- SmoothScroll -->
    <script src="static/js/SmoothScroll.js"></script>
    <!-- Parallax js -->
    <script src="static/js/parallaxie.js"></script>
    <!-- MagicCursor js file -->
    <script src="static/js/gsap.min.js"></script>
    <script src="static/js/magiccursor.js"></script>
    <!-- Text Effect js file -->
    <script src="static/js/SplitText.js"></script>
    <script src="static/js/ScrollTrigger.min.js"></script>
    <!-- YTPlayer js File -->
    <script src="static/js/jquery.mb.YTPlayer.min.js"></script>
    <!-- Wow js file -->
    <script src="static/js/wow.min.js"></script>
    <!-- Main Custom js file -->
    <script src="static/js/function.js"></script>
    <script src="static/js/mainfrmmenprinci.js"></script>
</body>
</html>