{% load static %}

<!DOCTYPE html>
<html lang="zxx">
<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="Terapia infantil y adolescente en Cuenca. Apoyo emocional, conductual y orientación a padres para fortalecer el bienestar familiar.">
	<meta name="author" content="Imashuti">
	<!-- Page Title -->
    <title>H-escapa - Terapia Infantil y Adolescente</title>
	<!-- Favicon Icon -->
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
	<!-- Google Fonts Css-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&family=Sora:wght@100..800&display=swap" rel="stylesheet">
	<!-- Bootstrap Css -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
	<!-- SlickNav Css -->
	<link href="{% static 'css/slicknav.min.css' %}" rel="stylesheet">
	<!-- Swiper Css -->
	<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
	<!-- Font Awesome Icon Css-->
	<link href="{% static 'css/all.min.css' %}" rel="stylesheet" media="screen">
	<!-- Animated Css -->
	<link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <!-- Magnific Popup Core Css File -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<!-- Mouse Cursor Css File -->
	<link rel="stylesheet" href="{% static 'css/mousecursor.css' %}">
	<!-- Main Custom Css -->
	<link href="{% static 'css/custom.css' %}" rel="stylesheet" media="screen">
</head>
<body>

    <!-- Preloader Start -->
	<div class="preloader">
		<div class="loading-container">
			<div class="loading"></div>
			<div id="loading-icon"><img src="{% static 'img/loader.svg' %}" alt=""></div>
		</div>
	</div>
	<!-- Preloader End -->

    <!-- Header Start -->
	<header class="main-header">
		<div class="header-sticky">
			<nav class="navbar navbar-expand-lg">
				<div class="container" >
					<!-- Logo Start -->
					<a class="navbar-brand">
						<img src="{% static 'img/logo.svg' %}" alt="Logo">
					</a>
					<!-- Logo End -->

					<!-- Main Menu Start -->
					<div class="collapse navbar-collapse main-menu">
                        <div class="nav-menu-wrapper">
                            <ul class="navbar-nav mr-auto" id="menu">
                                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Inicio</a></li> 
                                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">Acerca de</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'services' %}">Servicios</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'bloggeneral' %}">Blog</a></li>
<!--                                {% url 'agendamiento' %}
                                -->
                                <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contáctanos</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'signin' %}">Inicio de Sesión</a></li>
                                <li class="nav-item highlighted-menu"><a class="nav-link" href="{% url 'agendamiento' %}">Reservar una cita</a></li>                           
                            </ul>
                        </div>
                        <!-- Header Btn Start -->
                        <div class="header-btn d-inline-flex">
                            <a href="{% url 'agendamiento' %}" class="btn-default">Reservar una cita</a>
                        </div>
                        <!-- Header Btn End -->
					</div>
					<!-- Main Menu End -->
					<div class="navbar-toggle"></div>
				</div>
			</nav>
			<div class="responsive-menu"></div>
		</div>
	</header>
	<!-- Header End -->

    <!-- Page Header Start -->
	<div class="page-header parallaxie header-kids">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!-- Page Header Box Start -->
					<div class="page-header-box">
						<h1 class="text-anime-style-2" data-cursor="-opaque">Terapia Infantil y Adolescente</h1>
						<nav class="wow fadeInUp">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
								<li class="breadcrumb-item"><a href="{% url 'services' %}">Servicios</a></li>
								<li class="breadcrumb-item active" aria-current="page">terapia infantil y adolescente</li>
							</ol>
						</nav>
					</div>
					<!-- Page Header Box End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->

    <!-- Page Service Single Start -->
    <div class="page-service-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <!-- Service Sidebar Start -->
                    <div class="service-sidebar">
                        <!-- Service Category List Start -->
                        <div class="service-catagery-list wow fadeInUp">
                            <h3>Categoria de Servicios</h3>
                            <ul>
                                <li><a href="{% url 'individualtherapy' %}">Terapia Individual Personalizada</a></li>
                                <li><a href="{% url 'coupletherapy' %}">Terapia de Pareja</a></li>
                                <li><a href="{% url 'depansitherapy' %}">Acompañamiento en ansiedad, depresión, estres e ira</a></li>
                                <li><a href="{% url 'judgeservices' %}">Evaluaciones Periciales</a></li>
                                <li><a href="{% url 'meditation' %}">Mindfulness y meditación</a></li>
                                <li><a href="{% url 'grupaltherapy' %}">Terapia Grupal</a></li>
                            </ul>
                        </div>
                        <!-- Service Category List End -->

                        <!-- Sidebar CTA Box Start -->
                        <div class="faq-cta-box sidebar-cta-box">
                            <div class="customer-images">
                                <div class="customer-img">
                                    <figure class="image-anime reveal">
                                        <img src="{% static 'img/customer-img-1.jpg' %}" alt="">
                                    </figure>
                                </div>                                    
                                <div class="customer-img">
                                    <figure class="image-anime reveal">
                                        <img src="{% static 'img/customer-img-2.jpg' %}" alt="">
                                    </figure>
                                </div>
                                <div class="customer-img">
                                    <figure class="image-anime reveal">
                                        <img src="{% static 'img/customer-img-3.jpg' %}" alt="">
                                    </figure>
                                </div>
                                <div class="customer-img">
                                    <figure class="image-anime reveal">
                                        <img src="{% static 'img/customer-img-4.jpg' %}" alt="">
                                    </figure>
                                </div>
                            </div>
                            <div class="faq-cta-box-content wow fadeInUp" data-wow-delay="0.2s">
                                <h3>¿Todavía tienes dudas?</h3>
                                <a href="https://wa.me/593992840994?text=Quiero%20sabes%20m%C3%A1s%20de%20H-escapa" class="btn-faqs">+593 789 859 664</a>
                            </div>
                        </div>
                        <!-- Sidebar CTA Box End -->
                    </div>
                </div>

                <div class="col-lg-8">
                    <!-- Service Single Content Start -->
                    <div class="service-single-content">
                        <!-- Service Feature Image Start -->
                        <div class="service-feature-image">
                            <figure class="image-anime reveal">
                                <img src="{% static 'img/service-image-3.jpg' %}" alt="">
                            </figure>
                        </div>
                        <!-- Service Feature Image End -->

                        <!-- Secvice Entry Start -->
                        <div class="service-entry">
                            <p class="wow fadeInUp">En H-escapa acompañamos a niños, niñas y adolescentes en sus procesos emocionales y conductuales, respetando su etapa de desarrollo y su forma particular de expresarse. La terapia infantil y adolescente ofrece un espacio seguro, cercano y profesional donde pueden comprender lo que sienten, fortalecer su autoestima y aprender herramientas para relacionarse mejor con su entorno.
                                                    </p>

                            <p class="wow fadeInUp" data-wow-delay="0.2s">Trabajamos de manera integral, incluyendo orientación a padres o cuidadores cuando es necesario, para que el avance terapéutico también se sostenga en casa y en la escuela. El objetivo es promover bienestar emocional, mejorar la conducta y apoyar el desarrollo saludable del niño o adolescente.</p>

                            <!-- Secvice Therapy Benefits Start -->
                            <div class="service-therapy-benefits">
                                <!-- Therapy Benefits Content Start -->
                                <div class="therapy-benefits-content wow fadeInUp" data-wow-delay="0.4s">
                                    <h2>Beneficios de la Terapia Infantil y Adolescente</h2>
                                    <p>La terapia ayuda a niños y adolescentes a comprender lo que sienten, desarrollar habilidades emocionales y mejorar su adaptación en casa, escuela y relaciones.</p>
                                    
                                    <ul>
                                        <li>Mejor manejo de emociones (ansiedad, tristeza, ira)</li>
                                        <li>Fortalecimiento de autoestima y seguridad</li>
                                        <li>Mejoras en conducta, límites y convivencia</li>
                                        <li>Habilidades sociales y comunicación más sana</li>
                                    </ul>
                                </div>
                                <!-- Therapy Benefits Content End -->

                                <!-- Therapy Benefits Start -->
                                <div class="therapy-benefits-image">
                                    <figure class="image-anime reveal">
                                        <img src="{% static 'img/our-benefit-img.jpg' %}" alt="">
                                    </figure>
                                </div>
                                <!-- Therapy Benefits End -->
                            </div>
                            <!-- Secvice Therapy Benefits End -->

                            <!-- Therapy Benefits Box Start -->
                            <div class="therapy-benefits-box">
                                <!-- Therapy Benefits Item Start -->
                                <div class="therapy-benefits-item wow fadeInUp">
                                    <div class="icon-box">
                                        <img src="{% static 'img/icon-service-benefit-5.svg' %}" alt="">
                                    </div>

                                    <div class="therapy-benefits-item-content">
                                        <h3>Espacio seguro para expresarse</h3>
                                        <p>Un entorno de confianza donde el niño o adolescente puede hablar, jugar o expresarse sin juicio, a su propio ritmo.</p>
                                    </div>
                                </div>
                                <!-- Therapy Benefits Item End -->

                                <!-- Therapy Benefits Item Start -->
                                <div class="therapy-benefits-item wow fadeInUp" data-wow-delay="0.2s">
                                    <div class="icon-box">
                                        <img src="{% static 'img/icon-service-benefit-6.svg' %}" alt="">
                                    </div>

                                    <div class="therapy-benefits-item-content">
                                        <h3>Acompañamiento familiar</h3>
                                        <p>Orientación a madres, padres o cuidadores para fortalecer pautas, comunicación y apoyo emocional fuera de sesión.</p>
                                    </div>
                                </div>
                                <!-- Therapy Benefits Item End -->
                            </div>
                            <!-- Therapy Benefits Box End -->

                            <h2 class="text-anime-style-2">Cómo funciona la terapia infantil y adolescente</h2>

                            <p class="wow fadeInUp">El proceso terapéutico inicia con una evaluación para comprender lo que está ocurriendo, el contexto familiar y escolar, y las necesidades emocionales del niño o adolescente. Luego trabajamos con estrategias acordes a su edad para fortalecer habilidades emocionales y conductuales, y acompañamos a la familia en el proceso.</p>

                            <!-- Service Therapy Steps Start -->
                            <div class="service-therapy-steps">
                                <!-- Service Therapy Item Start -->
                                <div class="therapy-step-item wow fadeInUp" data-wow-delay="0.2s">
                                    <div class="therapy-step-no">
                                        <h2>01</h2>
                                    </div>
                                    <div class="therapy-step-content">
                                        <h3>Evaluación inicial</h3>
                                        <p>Realizamos una primera valoración para comprender el motivo de consulta, el contexto familiar y escolar, y las necesidades emocionales del niño o adolescente.</p>
                                    </div>
                                </div>
                                <!-- Service Therapy Item End -->

                                <!-- Service Therapy Item Start -->
                                <div class="therapy-step-item wow fadeInUp" data-wow-delay="0.4s">
                                    <div class="therapy-step-no">
                                        <h2>02</h2>
                                    </div>
                                    <div class="therapy-step-content">
                                        <h3>Plan terapéutico según la etapa</h3>
                                        <p>Diseñamos un plan personalizado con técnicas adecuadas a la edad: juego terapéutico, estrategias emocionales, habilidades sociales, conductuales o cognitivas, según el caso.</p>
                                    </div>
                                </div>
                                <!-- Service Therapy Item End-->

                                <!-- Service Therapy Item Start -->
                                <div class="therapy-step-item wow fadeInUp" data-wow-delay="0.6s">
                                    <div class="therapy-step-no">
                                        <h2>03</h2>
                                    </div>
                                    <div class="therapy-step-content">
                                        <h3>Acompañamiento y seguimiento</h3>
                                        <p>Trabajamos en sesiones con el niño o adolescente y, cuando se requiere, con orientación a padres/cuidadores para sostener avances en casa y en la escuela.</p>
                                    </div>
                                </div>
                                <!-- Service Therapy Item End -->
                            </div>
                            <!-- Service Therapy Steps End -->

                            <h2 class="text-anime-style-2">¿Por qué elegir la terapia infantil y adolescente?</h2>

                            <p class="wow fadeInUp">La terapia infantil y adolescente ofrece un espacio profesional y seguro para acompañar el desarrollo emocional, mejorar conductas, fortalecer autoestima y apoyar al niño o adolescente en momentos de cambio, dificultades escolares, ansiedad, tristeza o conflictos familiares.</p>

                            <ul class="wow fadeInUp" data-wow-delay="0.2s">
                                <li>Herramientas emocionales según su edad</li>
                                <li>Mejor adaptación en casa y escuela</li>
                                <li>Acompañamiento profesional y confidencial</li>
                                <li>Orientación a padres/cuidadores cuando se requiere</li>
                            </ul>

                            <!-- Service Entry Video Image Start -->
                            <div class="service-entry-video-image">
                                <!-- Video Image Start -->
                                <div class="video-image">
                                    <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video" data-cursor-text="Play">
                                        <figure class="image-anime">
                                            <img src="{% static 'img/service-entry-video-bg2.jpg' %}" alt="">
                                        </figure>
                                    </a>
                                </div>
                                <!-- Video Image End -->

                                <!-- Video Play Button Start -->
                                <div class="video-play-button">
                                    <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video" data-cursor-text="Play">
                                        <i class="fa-solid fa-play"></i>
                                    </a>
                                </div>
                                <!-- Video Play Button End -->           
                            </div>
                            <!-- Service Entry Video Image End -->
                        </div>
                        <!-- Secvice Entry End -->

                        <!-- Pahe Single FAQs Start -->
                        <div class="page-single-faqs">
                            <div class="section-title">
                                <h2 class="text-anime-style-2" data-cursor="-opaque">Preguntas Frecuentes</h2>
                            </div>

                            <!-- FAQ Accordion Start -->
                            <div class="faq-accordion page-faq-accordion" id="faqaccordion">
                                <!-- FAQ Item Start -->
                                <div class="accordion-item wow fadeInUp">
                                <h2 class="accordion-header" id="heading1">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                    <span>1.</span> ¿Cuándo es recomendable llevar a mi hijo/a a terapia?
                                    </button>
                                </h2>
                                <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#faqaccordion">
                                    <div class="accordion-body">
                                    <p>Cuando hay cambios importantes en el estado de ánimo, ansiedad, problemas de conducta, dificultades escolares, aislamiento, crisis familiares o cualquier situación que afecte su bienestar.</p>
                                    </div>
                                </div>
                                </div>
                                <!-- FAQ Item End -->

                                <!-- FAQ Item Start -->
                                <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">
                                <h2 class="accordion-header" id="heading2">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                    <span>2.</span> ¿Los padres participan en el proceso?
                                    </button>
                                </h2>
                                <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#faqaccordion">
                                    <div class="accordion-body">
                                    <p>Sí, cuando es necesario. En muchos casos se realizan espacios de orientación a padres/cuidadores para apoyar el proceso y reforzar avances en casa.</p>
                                    </div>
                                </div>
                                </div>
                                <!-- FAQ Item End -->

                                <!-- FAQ Item Start -->
                                <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s">
                                <h2 class="accordion-header" id="heading3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                    <span>3.</span> ¿Cómo se trabaja con niños/as si no saben expresar lo que sienten?
                                    </button>
                                </h2>
                                <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#faqaccordion">
                                    <div class="accordion-body">
                                    <p>Se utilizan métodos acordes a su edad, como juego terapéutico, actividades guiadas y recursos creativos que facilitan la expresión emocional de forma segura.</p>
                                    </div>
                                </div>
                                </div>
                                <!-- FAQ Item End -->

                                <!-- FAQ Item Start -->
                                <div class="accordion-item wow fadeInUp" data-wow-delay="0.6s">
                                <h2 class="accordion-header" id="heading4">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                    <span>4.</span> ¿La terapia es confidencial si es menor de edad?
                                    </button>
                                </h2>
                                <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#faqaccordion">
                                    <div class="accordion-body">
                                    <p>Sí, se maneja confidencialidad profesional. Con padres/cuidadores se comparte información general del proceso y recomendaciones, protegiendo la privacidad del niño o adolescente, salvo situaciones de riesgo.</p>
                                    </div>
                                </div>
                                </div>
                                <!-- FAQ Item End -->

                                <!-- FAQ Item Start -->
                                <div class="accordion-item wow fadeInUp" data-wow-delay="0.8s">
                                <h2 class="accordion-header" id="heading5">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                    <span>5.</span> ¿Cuánto dura el proceso terapéutico?
                                    </button>
                                </h2>
                                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#faqaccordion">
                                    <div class="accordion-body">
                                    <p>Depende de cada caso y de los objetivos. Algunas dificultades se trabajan en procesos breves y otras requieren un acompañamiento más continuo.</p>
                                    </div>
                                </div>
                                </div>
                                <!-- FAQ Item End -->                            </div>
                            <!-- FAQ Accordion End -->
                        </div>
                        <!-- Pahe Single FAQs End -->
                    </div>
                    <!-- Service Single Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Service Single End -->

    <!-- Footer CTA Box Start -->
    <div class="footer-cta-box">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!-- Footer CTa Content Start -->
                    <div class="footer-cta-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h2 class="text-anime-style-2" data-cursor="-opaque">Te acompañamos cuando decidas comenzar</h2>
                        </div>
                        <!-- Section Title End -->
                    </div>
                    <!-- Footer CTa Content End -->                  
                </div>

                <div class="col-lg-6">
                    <!-- Footer CTA Button Start -->
                    <div class="footer-cta-btn wow fadeInUp">
                        <a href="https://wa.me/593992840994?text=Quiero%20sabes%20m%C3%A1s%20de%20H-escapa" class="btn-default btn-phone"><i class="fa-brands fa-whatsapp"></i> +593 992 840 994</a>
                        <a href="mailto:info@h-escapa.com" class="btn-defaultfooter btn-comment"><i class="fa-solid fa-envelope"></i> info@h-escapa.com</a>
                    </div>
                    <!-- Footer CTA Button End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Footer CTA Box End -->

    <!-- Footer Start -->
    <footer class="main-footer">
        <div class="container">
            <div class="row">                
                <div class="col-lg-12">
                    <!-- Footer Logo Start -->
                    <div class="footer-logo">
                        <img src="{% static 'img/footer-logo.svg' %}" alt="">
                    </div>
                    <!-- Footer Logo End -->                    
                </div>

                <div class="col-lg-8">
                    <!-- About Footer Start -->
                    <div class="about-footer">
                        <div class="section-title">
                            <h2 class="text-anime-style-2" data-cursor="-opaque">Estamos aquí cuando estés listo/a</h2>
                        </div>

                        <!-- Footer Contact Box Start -->
                        <div class="footer-contact-box">
                            <!-- Footer Contact Item Start -->
                            <div class="footer-contact-item">
                                <p>Número Celular</p>
                                <h3>0992840994</h3>
                            </div>
                            <!-- Footer Contact Item End -->

                            <!-- Footer Contact Item Start -->
                            <div class="footer-contact-item">
                                <p>Email</p>
                                <h3>info@h-escapa.com</h3>
                            </div>
                            <!-- Footer Contact Item End -->

                            <!-- Footer Contact Item Start -->
                            <div class="footer-contact-item">
                                <p>Dirección</p>
                                <h3>Francisco Moscoso 5-39 y Av 10 de Agosto</h3>
                            </div>
                            <!-- Footer Contact Item End -->
                        </div>
                        <!-- Footer Contact Box End -->
                    </div>
                    <!-- About Footer End -->
                </div>

                <div class="col-lg-4">
                    <!-- Footer Social Link Start -->
                    <div class="footer-social-links">
                        <h3>Síguenos en redes sociales</h3>
                        <p>Encuentra recursos, consejos y contenido sobre bienestar emocional.</p>
                        <ul>
                            <li><a href="https://www.facebook.com/hesterpalacio.psic.cli"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="https://www.instagram.com/ps.cl.hester_palacio/"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="https://www.tiktok.com/@psc_hester_palacio"><i class="fa-brands fa-tiktok"></i></a></li>
                        </ul>
                    </div>
                    <!-- Footer Social Link End -->
                </div>
            </div>

            <!-- Footer Copyright Section Start -->
            <div class="footer-copyright">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <!-- Footer Menu Start -->
                        <div class="footer-menu">
                            <ul>                            
                                <li><a href="{% url 'home' %}">Inicio</a></li>
                                <li><a href="{% url 'about' %}">Acerca de</a></li>
                                <li><a href="{% url 'services' %}">Servicios</a></li>
                                <li><a href="{% url 'bloggeneral' %}">Blog</a></li>
                                <li><a href="{% url 'contact' %}">Contáctanos</a></li>
                            </ul>
                        </div>
                        <!-- Footer Menu End -->
                    </div>

                    <div class="col-md-6">
                        <!-- Footer Copyright Start -->
                        <div class="footer-copyright-text">
                            <p>Imashuti © 2026 Todos los derechos reservados.</p>
                        </div>
                        <!-- Footer Copyright End -->
                    </div>
                </div>
            </div>
            <!-- Footer Copyright Section End -->
        </div>
     </footer>
    <!-- Footer End -->

<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/validator.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.js' %}"></script>
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/SmoothScroll.js' %}"></script>
<script src="{% static 'js/parallaxie.js' %}"></script>
<script src="{% static 'js/gsap.min.js' %}"></script>
<script src="{% static 'js/magiccursor.js' %}"></script>
<script src="{% static 'js/SplitText.js' %}"></script>
<script src="{% static 'js/ScrollTrigger.min.js' %}"></script>
<script src="{% static 'js/jquery.mb.YTPlayer.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/function.js' %}"></script>
</body>
</html>